<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>스탠스 어드민</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Symbols+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<div class="wrapper">
    <!-- 사이드바 -->
    <div class="sidebar">
        <h4 class="text-center">스탠스</h4>
        <ul class="nav flex-column">
            <li class="nav-item menu-link">
                <a class="nav-link menu-toggle" href="#" id="dashboardMenu">
                    <span class="material-symbols-outlined">home</span>
                    Dashboards
                </a>
                <ul class="nav flex-column" id="dashboardSubmenu">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">모임통장</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/event-applicant">이벤트 신청자</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">회원</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item menu-link system-item">
                <a class="nav-link menu-toggle" href="#" id="dashboardMenu">
                    <span class="material-symbols-outlined">settings</span>
                    System
                </a>
            </li>
        </ul>
    </div>