.logo-container {
    display: flex;
    align-items: center;
    margin: 0 0 20px 12px;
}

.logo {
    width: 33px;
    height: auto;
}

.brand-text {
    color: #384551;
    font-size: 1.5rem;
    letter-spacing: -0.5px;
    margin-top: 10px;
}

.material-symbols-outlined {
    margin-right: 8px;
}

body {
    background-color: #f8f9fa;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.wrapper {
    display: flex;
    flex: 1;
}

.sidebar {
    align-items: center;
    height: 100vh;
    min-width: 250px;
    background-color: #ffffff;
    padding: 1rem;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

.sidebar .nav-link {
    font-size: 1.08rem;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: #384551;
    border-radius: 0.25rem;
}
.system-item {
    margin-top: 0.7rem;
}

.menu-toggle::after {
    color: #384551;
    content: "⌄";
    position: absolute;
    font-family: "boxicons", sans-serif;
    font-size: 1.375rem;
    margin: 0 0 0.5rem 11.3rem;
    font-weight: bold;
}

.sub-menu .menu-toggle::after {
    color: #384551;
    content: "⌄";
    position: absolute;
    font-family: "boxicons", sans-serif;
    font-size: 1.375rem;
    margin: 0 0 0.5rem 9.3rem;
    font-weight: bold;
}

.nav-item.active .nav-link {
    background-color: #f2f3f3;
    color: #646e78;
}

.sidebar .nav-link .icon {
    margin-right: 10px;
}

.sidebar .nav-link.active {
    background-color: #e9ecef;
}

.sub-menu .nav-item>.nav-link::before {
    background-color: #a7acb2 !important;
    content: "";
    position: absolute;
    left: 2.5rem;
    width: .375rem;
    height: .375rem;
    border-radius: 50%;
}

.sub-menu .nav-item>.nav-link {
    padding-left: 3rem;
}

.third-level-menu .nav-item>.nav-link::before {
    background-color: #a7acb2 !important;
    content: "";
    position: absolute;
    left: 4.5rem;
    width: .375rem;
    height: .375rem;
    border-radius: 50%;
}

.third-level-menu .nav-item>.nav-link {
    padding-left: 5rem;
}

.content {
    flex: 1;
    padding: 2rem;
}

::placeholder {
    font-size: 14px;
}

.card {
    margin-bottom: 1rem;
}

.card-body {
    padding: 20px;
}

/* 카드 제목과 텍스트 스타일 */
.card-title {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #646E78
}

.card-text {
    font-size: 1rem;
    margin-bottom: 5px;
}
.budget-book-cards {
    height: 280px;
}

.budget-book-cards .card-text {
    margin-bottom: 20px;
}
.budget-book-cards .material-symbols-outlined {
    font-size: 35px;
}

/* 프로그레스 바 및 레이블 스타일 */
.progress-container {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 0;
}

.progress-bar-background {
    background-color: #e4e6e8; /* 기본 바 배경색 */
    height: 10px;
    width: 80%;
    position: relative;
    border-radius: 0.6rem; /* 바의 모서리 둥글게 */
    margin-right: 10px; /* 레이블과 바 사이의 간격 */
}

.progress-bar {
    background-color: #03c3ec; /* 실제 진행 바 색상 */
    height: 100%;
    width: 0%; /* 초기 너비 */
    transition: width 0.5s ease;
}

#progress-label {
    color: #646E78; /* 진회색으로 표시 */
}

#paidMembers {
    font-size: 0.8rem;
    margin-bottom: 0;
}

.table {
    margin-top: 10px; /* 테이블 위 여백 */
    margin-bottom: 20px; /* 테이블 아래 여백 */
    border-spacing: 0 10px;
}

.table th {
    text-transform: uppercase;
    font-size: .8125rem;
    letter-spacing: .2px;
    color: #384551;
}

.table tbody tr td{
    color: #646e78;
    font-size: .85rem;
}

.table td, .table th {
    padding: 12px; /* 내부 여백 추가 */
}

.deposit-status, .member-status, .transaction-type {
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 5px;
}

.transaction-type.deposit {
    background-color: #d7f5fc;
    color: #03c3ec;
}

.transaction-type.withdrawal {
    background-color: #ffe0db;
    color: #ff3e1d;
}

.amount {
    font-weight: bold;
}

.amount.deposit {
    color: #03c3ec;
}

.amount.withdrawal {
    color: #ff3e1d;
}

.btn {
    border: none;
    border-radius: 4px;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    font-size: 0.9rem;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

.btn-primary {
    color: #fff;;
    background-color: #696cff;
    border-color: #696cff;
    box-shadow: 0 .125rem .25rem 0 rgba(105,108,255,.4);
}

#view-all-button {
    color: #696cff;
    background: #e7e7ff;
    margin-top: 30px;
    margin-bottom: 10px;;
}

.button-group .btn.active {
    background-color: #696cff;
    color: #fff;
}

.button-group .btn {
    background: none;
    color: #384551;
}

.button-group .btn:hover {
    background-color: #e1e2ff;
    color: #696cff;
}

#registerEventButton {
    width: 500px;
}

.deposit-status.paid {
    background-color: #e8fadf;
    color: #71dd37;
}

.deposit-status.unpaid {
    background-color: #ffe0db;
    color: #ff3e1d;
}

.member-status.active {
    background-color: #d7f5fc;
    color: #03c3ec;
}
.member-status.dormant {
    background-color: #fff2d6;
    color: #ffab00;
}

#eventAreas {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    margin-bottom: 8px;
}

.event-area {
    padding: 10px;
    margin: 10px 0;
    width: 70px;
    height: 70px;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.event-area.active {
    border-color: #007bff;
    background-color: #e7f1ff;
}

.event-description {
    margin: 10px 0 0 8px;
    font-size: 14px;
    color: #43484d;
    font-family: Arial, sans-serif;
}

.add-event {
    background-color: #f0f0f0;
}

.event-icon .event-symbols {
    margin: 10px 0 0 0;
    font-size: 24px;
}

.event-name {
    font-size: 11px;
}

.popup {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.popup-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.close {
    background: none;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    cursor: pointer;
}

.required-true {
    color: red;
}
