{{>layout/header}}

<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <h5 class="card-title">모임 통장 전체 내역</h5>

                        </div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>날짜</th>
                                <th>거래유형</th>
                                <th>카테고리</th>
                                <th>거래자</th>
                                <th>금액</th>
                                <th>잔액</th>
                            </tr>
                            </thead>
                            <tbody id="transaction-table-body">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{>layout/footer}}
