{{>layout/header}}

<div class="content">
    <div class="container mt-5">
        <h3 class="mb-4">😎 입금 내역을 기록할 거예요!</h3>

        <div class="row text-center mb-4">
            <div class="col-md-4">
                <div class="card budget-book-cards">
                    <div class="card-body">
                        <span class="material-symbols-outlined">sports_basketball</span>
                        <h5 class="card-title mt-3">회비</h5>
                        <p class="card-text">
                            회원들이 회비를 입금했어요!<br>
                            입금 내용을 기록해볼까요?<br>
                            아래의 '쓰기' 버튼을 눌러주세요!
                        </p>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#membershipFeeRegistrationModal">
                            쓰기
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card budget-book-cards">
                    <div class="card-body">
                        <span class="material-symbols-outlined">hotel_class</span>
                        <h5 class="card-title mt-3">이벤트비</h5>
                        <p class="card-text">
                            회식비, 유니폼비, 엠티비가 입금 되었어요!<br>
                            아래의 '쓰기' 버튼을 누르면 이벤트비를 기록할 수 있어요.
                        </p>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#eventFeeRegistrationModal">
                            쓰기
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card budget-book-cards">
                    <div class="card-body">
                        <span class="material-symbols-outlined">account_balance</span>
                        <h5 class="card-title mt-3">은행</h5>
                        <p class="card-text">
                            은행에서 이자 또는 캐시백이 입금되었나요?<br>
                            티끌모아 태산이에요!<br>
                            '쓰기' 버튼을 클릭해서 기록해주세요!
                        </p>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#bankDepositRegistrationModal">
                            쓰기
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <h3 class="mb-4">😭 출금 내역을 기록할 거예요!</h3>
        <div class="row text-center mb-4">
            <div class="col-md-4">
                <div class="card budget-book-cards">
                    <div class="card-body">
                        <span class="material-symbols-outlined">credit_card</span>
                        <h5 class="card-title mt-3">카드</h5>
                        <p class="card-text">
                            스탠스 카드로 결제한 모든 내역을 기록해 주세요!<br>
                            대부분은 음료 비용 일 거예요.<br>
                            '쓰기' 버튼을 클릭해 주세요.
                        </p>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#cardPaymentRegistrationModal">
                            쓰기
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card budget-book-cards">
                    <div class="card-body">
                        <span class="material-symbols-outlined">currency_exchange</span>
                        <h5 class="card-title mt-3">계좌이체</h5>
                        <p class="card-text">
                            계좌이체 한 내역을 기록해주세요!<br>
                            '쓰기' 버튼을 누르면 계좌이체 내역 등록 양식이 뜰거예요.<br>
                            양식에 맞춰서 등록해주세요!
                        </p>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#transferAmountRegistrationModal">
                            쓰기
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div id="membershipFeeRegistrationModal" class="modal fade" tabindex="-1" aria-labelledby="membershipFeeRegistrationLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            {{> membershipFeeRegistrationForm }}
        </div>
    </div>
</div>

<div id="eventFeeRegistrationModal" class="modal fade" tabindex="-1" aria-labelledby="eventFeeRegistrationLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            {{> eventFeeRegistrationForm }}
        </div>
    </div>
</div>


<div id="bankDepositRegistrationModal" class="modal fade" tabindex="-1" aria-labelledby="bankDepositRegistrationLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            {{> bankDepositRegistrationForm }}
        </div>
    </div>
</div>

<div id="cardPaymentRegistrationModal" class="modal fade" tabindex="-1" aria-labelledby="cardPaymentRegistrationLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            {{> cardPaymentRegistrationForm }}
        </div>
    </div>
</div>

<div id="transferAmountRegistrationModal" class="modal fade" tabindex="-1" aria-labelledby="transferAmountRegistrationLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            {{> transferAmountRegistrationForm }}
        </div>
    </div>
</div>

{{>layout/footer}}