{{>layout/header}}

<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <span class="material-symbols-outlined balance-update-icon">account_balance_wallet</span>
                            <h5 class="card-title mb-0">계좌 잔액 업데이트</h5>
                        </div>
                        <p id="balanceUpdateDescription">
                            계좌 잔액이 정확한 마지막 날짜를 선택하시면, 해당 잔액을 바탕으로 잔액을 재계산 합니다.
                            <span class="tooltip-icon"
                                  data-bs-toggle="tooltip"
                                  title="만일 해당 날짜의 거래 중 일부 데이터가 실제 잔액과 다르다면, 그 날짜 전체 잔액을 신뢰할 수 없으므로 이전 날짜를 선택해주세요.">!
                            </span>
                        </p>

                        <form>
                            <div class="mb-3">
                                <label for="dateInput" class="form-label">날짜를 선택하세요</label>
                                <input type="date" class="form-control" id="dateInput">
                            </div>
                            <button type="submit" class="btn btn-primary update-balance-button">업데이트</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <h5 class="card-title">모임 통장 전체 내역</h5>

                        </div>
                        <div class="table-container">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>거래일</th>
                                    <th>거래유형</th>
                                    <th>카테고리</th>
                                    <th>거래자</th>
                                    <th>금액</th>
                                    <th>잔액</th>
                                    <th>메모</th>
                                    <th>생성일</th>
                                </tr>
                                </thead>
                                <tbody id="transaction-table-body">

                                </tbody>
                            </table>
                        </div>

                        <nav aria-label="Page navigation">
                            <ul class="pagination" id="paginationContainer">
                                <li class="page-item"><a class="page-link" href="#"><</a></li>

                                <li class="page-item"><a class="page-link" href="#">></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{>layout/footer}}
