{{>layout/header}}

<div class="content">
    <div class="container mt-5">
        <h3 class="mb-4">😎 입금 내역을 기록할 거예요!</h3>

        <div class="row text-center mb-4">
            <div class="col-md-4">
                <div class="card budget-book-cards">
                    <div class="card-body">
                        <span class="material-symbols-outlined">sports_basketball</span>
                        <h5 class="card-title mt-3">회비</h5>
                        <p class="card-text">
                            회원들이 회비를 입금했어요!<br>
                            입금 내용을 기록해볼까요?<br>
                            아래의 '쓰기' 버튼을 눌러주세요!
                        </p>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#membershipFeeRegistrationModal">
                            쓰기
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card budget-book-cards">
                    <div class="card-body">
                        <span class="material-symbols-outlined">hotel_class</span>
                        <h5 class="card-title mt-3">이벤트비</h5>
                        <p class="card-text">
                            회식비, 유니폼비, 엠티비가 입금 되었어요!<br>
                            아래의 '쓰기' 버튼을 누르면 이벤트비를 기록할 수 있어요.
                        </p>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#eventFeeRegistrationModal">
                            쓰기
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card budget-book-cards">
                    <div class="card-body">
                        <span class="material-symbols-outlined">account_balance</span>
                        <h5 class="card-title mt-3">은행</h5>
                        <p class="card-text">카드 3 설명</p>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            쓰기
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <h3 class="mb-4">👊🏼 출금 내역을 기록할 거예요!</h3>
        <div class="row text-center mb-4">
            <div class="col-md-4">
                <div class="card budget-book-cards">
                    <div class="card-body">
                        <span class="material-symbols-outlined">credit_card</span>
                        <h5 class="card-title mt-3">카드</h5>
                        <p class="card-text">카드 4 설명</p>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            쓰기
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card budget-book-cards">
                    <div class="card-body">
                        <span class="material-symbols-outlined">currency_exchange</span>
                        <h5 class="card-title mt-3">계좌이체</h5>
                        <p class="card-text">카드 5 설명</p>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            쓰기
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div id="membershipFeeRegistrationModal" class="modal fade" tabindex="-1" aria-labelledby="membershipFeeRegistrationLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            {{> membershipFeeRegistrationForm }}
        </div>
    </div>
</div>

<div id="eventFeeRegistrationModal" class="modal fade" tabindex="-1" aria-labelledby="eventFeeRegistrationLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            {{> eventFeeRegistrationForm }}
        </div>
    </div>
</div>

{{>layout/footer}}