<div class="modal-header">
    <h5 class="modal-title" id="applicantRegisterLabel">이벤트 신청자 추가하기</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>

<div class="modal-body">
    <form id="eventApplicantForm">
        <div class="form-group mb-3">
            <label for="modalEventSelect" class="form-label">이벤트<span class="required-true">*</span></label>
            <select class="form-select" id="modalEventSelect" required>
                <!-- option -->
            </select>
        </div>

        <div class="form-group mb-3">
            <label for="applicant" class="form-label">신청자<span class="required-true">*</span></label>
            <div id="applicantContainer">

            </div>
        </div>

        <div class="form-group mb-3">
            <label for="eventApplicantMemo" class="form-label">특이사항<span class="required-false"></span></label>
            <textarea class="form-control form-control-lg" id="eventApplicantMemo" rows="5" placeholder="설명이 필요하다면 적어주세요!"></textarea>
        </div>

        <div class="d-flex justify-content-center cancel-register-button">
            <button type="button" class="btn btn-secondary mt-3" data-bs-dismiss="modal">취소</button>
            <button type="submit" class="btn btn-primary mt-3" id="registerEventApplicantButton">등록</button>
        </div>
    </form>
</div>

<div id="eventApplicantPermissionModal" class="modal fade" tabindex="-1" aria-labelledby="eventApplicantPermissionLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="eventApplicantPermissionLabel">관리자 권한</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="eventApplicantPermissionForm">
                    <div class="mb-3">
                        <label for="eventApplicantPermissionPassword" class="form-label">코드</label>
                        <input type="password" class="form-control" id="eventApplicantPermissionPassword" placeholder="관리자 코드를 입력하세요." required>
                    </div>

                    <div class="d-flex justify-content-center cancel-register-button">
                        <button type="button" class="btn btn-secondary mt-3" data-bs-dismiss="modal">취소</button>
                        <button type="submit" class="btn btn-primary mt-3">확인</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>