{{>layout/header}}

<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">이벤트</h5>
                        <div class="d-flex align-items-center mb-3">
                            <select class="form-select" id="eventSelect" aria-label="이벤트 선택">
                                <!-- 이벤트 동적 데이터 -->
                            </select>
                            <button type="button" class="btn btn-primary ms-3" data-bs-toggle="modal" data-bs-target="#">+</button>
                        </div>

                        <div class="d-flex justify-content-between mb-3">
                            <h5>이벤트 신청자 명단</h5>
                            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#applicantRegisterModal">신청자 추가</button>
                        </div>

                        <table class="table">
                            <thead>
                            <tr>
                                <th>이름</th>
                                <th>만료일</th>
                                <th>메모</th>
                            </tr>
                            </thead>
                            <tbody id="eventApplicantReport">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="applicantRegisterModal" class="modal fade" tabindex="-1" aria-labelledby="applicantRegisterLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            {{> eventApplicantRegistrationForm }}
        </div>
    </div>
</div>

{{>layout/footer}}