{{>layout/header}}

<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <h5 class="card-title">이벤트 입금 명단</h5>
                            <button id="view-all-button" class="btn btn-primary">전체보기</button>
                        </div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>이름</th>
                                <th>금액</th>
                                <th>입금여부</th>
                                <th>입금일</th>
                            </tr>
                            </thead>
                            <tbody id="transaction-table-body">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{{>layout/footer}}